{% load static %}



<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Evonyee - Responsive HTML5 Template</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel="icon" href="{% static 'img/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
      <!-- colors css -->
      <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
      <!-- wow animation css -->
      <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
      <!-- Revolution Loaling Fonts and Icons  -->
      <link rel="stylesheet" href="{% static 'js/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
      <!-- Revolution style Sheets  -->
      <link rel="stylesheet" href="{% static 'js/revolution/css/settings.css' %}">
      <link rel="stylesheet" href="{% static 'js/revolution/css/layers.css' %}">
      <link rel="stylesheet" href="{% static 'js/revolution/css/navigation.css' %}">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="default_theme" class="contact">
      <!-- header -->
      <div id="mySidenav" class="sidenav">
         <ul class="menu_sidebar">
            <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
            <li><a href="/">01. Home</a></li>
            <li><a href="/about">02. About</i></a></li>
            <li><a href="/what_we_do">03. What we do</a></li>
            <li><a href="/testimonial">04. Testimonial</a></li>
            <li><a href="/callback">05. Contact Us</a></li>
         </ul>
      </div>
      <header class="header">
         <div class="header_top">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="full">
                        <span class="toggle_icon" style="cursor:pointer" onclick="openNav()"><img src="{% static 'img/menu_icon.png' %}" alt="#" /></span>
                        <div class="logo_circle">
                           <a href="/"><img class="img-responsive" src="{% static 'img/logo.png' %}" alt="#" /></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="float-right">
                        <ul class="top_links">
                           <li><a href="/"><img src="{% static 'images/profile_icon.png' %}" alt="#" /></a></li>
                           <li class="searchbar">
                              <input class="search_input" type="text" name="" placeholder="Search...">
                              <a href="#" class="search_icon"><img src="{% static 'images/search_icon.png' %}" alt="#" /></a>
                           </li>
                        </ul> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
      <!-- Start Banner Slider -->
      <div id="inner_pade" class="banner-slider">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="full">
                      <h2>Contact us</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Banner Slider -->
      <section>
         <div class="container">
             <div class="row margin_top_50">
                                 <div class="col-md-12">
                                    <div class="row">
                                       <div class="col-sm-4">
                                          <div class="full cont_info">
                                             <i class="fa fa-map-marker"></i>
                                             <span>Location</span>
                                          </div>
                                       </div>
                                       <div class="col-sm-4">
                                          <div class="full cont_info">
                                             <i class="fa fa-phone"></i>
                                             <span>Call +01 1234 567 890</span>
                                          </div>
                                       </div>
                                       <div class="col-sm-4">
                                          <div class="full cont_info">
                                             <i class="fa fa-envelope" style="font-size: 17px;"></i>
                                             <span>demo@gmail.com</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
         </div>
      </section>
      <!-- section -->
      <section class="layout_padding request_form">
         <div class="container">
            <div class="row">

               <div class="col-md-8 offset-md-2">
                  <div class="full text_align_center">
                     <h3>Request A Call Back</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                  </div>
                  <div class="full">
                      <form action="callback" method="post">
                        {% csrf_token %}
                         <fieldset>
                            <div class="row">
                              <div class="col-md-10 offset-md-1">
                                 <div class="full field">
                                     <input type="text" name="name" placeholder="Your Name" required="" />
                                 </div>
                                 <div class="full field">
                                     <input type="text" name="phone_no" placeholder="Phone Number" required="" />
                                 </div>
                                 <div class="full field">
                                     <input type="email" name="email" placeholder="Email" required="" />
                                 </div>
                                 <div class="full field">
                                    <textarea placeholder="Message" name="message"></textarea>
                                 </div>
                                 <div class="full field center">
                                    <button>Send</button>
                                 </div>
                              </div>
                            </div>
                         </fieldset>
                      </form>
                  </div>
               </div>

            </div>
         </div>
      </section>
      <!-- end section -->

      {% include 'footer.html' %}