<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Evonyee - Responsive HTML5 Template</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel="icon" href="img/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="css/responsive.css" />
      <!-- colors css -->
      <link rel="stylesheet" href="css/colors.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="css/custom.css" />
      <!-- wow animation css -->
      <link rel="stylesheet" href="css/animate.css" />
      <!-- Revolution Loaling Fonts and Icons  -->
      <link rel="stylesheet" href="js/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
      <!-- Revolution style Sheets  -->
      <link rel="stylesheet" href="js/revolution/css/settings.css">
      <link rel="stylesheet" href="js/revolution/css/layers.css">
      <link rel="stylesheet" href="js/revolution/css/navigation.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="default_theme" class="wwd">
      <!-- header -->
      <div id="mySidenav" class="sidenav">
         <ul class="menu_sidebar">
            <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
            <li><a href="/">01. Home</a></li>
            <li><a href="/about">02. About</i></a></li>
            <li><a href="/what_we_do">03. What we do</a></li>
            <li><a href="/testimonial">04. Testimonial</a></li>
            <li><a href="/callback">05. Contact Us</a></li>
         </ul>
      </div>
      <header class="header">
         <div class="header_top">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="full">
                        <span class="toggle_icon" style="cursor:pointer" onclick="openNav()"><img src="img/menu_icon.png" alt="#" /></span>
                        <div class="logo_circle">
                           <a href="/"><img class="img-responsive" src="img/logo.png" alt="#" /></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="float-right">
                        <ul class="top_links">
                           <li><a href="#"><img src="images/profile_icon.png" alt="#" /></a></li>
                           <li class="searchbar">
                              <input class="search_input" type="text" name="" placeholder="Search...">
                              <a href="#" class="search_icon"><img src="images/search_icon.png" alt="#" /></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
      <!-- Start Banner Slider -->
      <div id="inner_pade" class="banner-slider">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="full">
                      <h2>What we do</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Banner Slider -->
      <!-- section -->
      <section class="layout_padding what_we_do">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm1.png" alt="#" />
                     <a class="decorate_blog_bt" href="hd.html">Home Decorate</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm2.png" alt="#" />
                     <a class="decorate_blog_bt" href="od.html">Office Decorate</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm3.png" alt="#" />
                     <a class="decorate_blog_bt" href="fd.html">Furniture Decorate</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm4.png" alt="#" />
                     <a class="decorate_blog_bt" href="ld.html">Lighting Decorate</a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm1.png" alt="#" />
                     <a class="decorate_blog_bt" href="hd.html">Home Decorate</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm2.png" alt="#" />
                     <a class="decorate_blog_bt" href="od.html">Office Decorate</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm3.png" alt="#" />
                     <a class="decorate_blog_bt" href="fd.html">Furniture Decorate</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="images/sm4.png" alt="#" />
                     <a class="decorate_blog_bt" href="ld.html">Lighting Decorate</a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="full">
                     <a class="read_more_bt float-right" href="#">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      <!-- section -->
      <section class="layout_padding about_section">
         <div class="container">
            <div class="row">
               <div class="col-md-7 p-relative r-left">
                  <div class="full back_blog text_align_center padding_right_left_15">
                     <img src="images/wd_1.png" alt="#" />
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="full heading_s1">
                     <h3>Best Home Decoration</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum..</p>
                  </div>
                  <div class="full">
                     <a class="read_more_bt" href="#">Get A Quote</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      <!-- section -->
      <section class="layout_padding about_section">
         <div class="container">
            <div class="row">
               <div class="col-md-7 p-relative r-left">
                  <div class="full back_blog text_align_center padding_right_left_15">
                     <img src="images/wd_2.png" alt="#" />
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="full heading_s1">
                     <h3>Best office  Lighting</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum..</p>
                  </div>
                  <div class="full">
                     <a class="read_more_bt" href="#">Get A Quote</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      